<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <script type="application/x-javascript"> addEventListener("load", function () {
        setTimeout(hideURLbar, 0);
    }, false);
    function hideURLbar() {
        window.scrollTo(0, 1);
    } </script>
    <!-- Bootstrap Core CSS -->
    <link th:href="@{/css/bootstrap.min.css}" href="../static/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <!-- Custom CSS -->
    <link th:href="@{/css/style.css}" rel="stylesheet" href="../static/css/style.css" type="text/css"/>
    <!-- Graph CSS -->
    <link th:href="@{/css/lines.css}" rel="stylesheet" href="../static/css/lines.css" type="text/css"/>
    <link th:href="@{/css/font-awesome.css}" href="../static/css/font-awesome.css" rel="stylesheet"/>
    <!-- jQuery -->
    <script th:src="@{/js/jquery.min.js}" src="../static/js/jquery.min.js"></script>
    <!-- Nav CSS -->
    <link th:href="@{/css/custom.css}" href="../static/css/custom.css" rel="stylesheet"/>
    <!-- Metis Menu Plugin JavaScript -->
    <script th:src="@{/js/metisMenu.min.js}" src="../static/js/metisMenu.min.js"></script>
    <script th:src="@{/js/custom.js}" src="../static/js/custom.js"></script>


</head>
<body>
<div id="wrapper">
    <!-- Navigation -->
    <nav class="top1 navbar navbar-default navbar-static-top" role="navigation"
         style="margin-bottom: 0;background-color: #00bcd4">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="../static/index.html">JFCH</a>
        </div>

        <!-- /.navbar-header -->


        <div class="navbar-default sidebar" role="navigation">
            <div class="sidebar-nav navbar-collapse">
                <ul class="nav in" id="side-menu">
                    <li>
                        <a href="../static/index.html" class="active"><i class="fa fa-dashboard fa-fw nav_icon"></i>Dashboard</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-laptop nav_icon"></i>Layouts<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level collapse">
                            <li>
                                <a href="../static/grids.html">Grid System</a>
                            </li>
                        </ul>
                        <!-- /.nav-second-level -->
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-indent nav_icon"></i>Menu Levels<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level collapse">
                            <li>
                                <a href="../static/graphs.html">Graphs</a>
                            </li>
                            <li>
                                <a href="../static/typography.html">Typography</a>
                            </li>
                        </ul>
                        <!-- /.nav-second-level -->
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-envelope nav_icon"></i>Mailbox<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level collapse">
                            <li>
                                <a href="../static/inbox.html">Inbox</a>
                            </li>
                            <li>
                                <a href="../static/compose.html">Compose email</a>
                            </li>
                        </ul>
                        <!-- /.nav-second-level -->
                    </li>
                    <li>
                        <a href="../static/widgets.html"><i class="fa fa-flask nav_icon"></i>Widgets</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-check-square-o nav_icon"></i>Forms<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level collapse">
                            <li>
                                <a href="../static/forms.html">Basic Forms</a>
                            </li>
                            <li>
                                <a href="../static/validation.html">Validation</a>
                            </li>
                        </ul>
                        <!-- /.nav-second-level -->
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-table nav_icon"></i>Tables<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level collapse">
                            <li>
                                <a href="../static/basic_tables.html">Basic Tables</a>
                            </li>
                        </ul>
                        <!-- /.nav-second-level -->
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-sitemap fa-fw nav_icon"></i>Css<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level collapse">
                            <li>
                                <a href="../static/media.html">Media</a>
                            </li>
                            <li>
                                <a href="../static/login.html">Login</a>
                            </li>
                        </ul>
                        <!-- /.nav-second-level -->
                    </li>
                </ul>
            </div>
            <!-- /.sidebar-collapse -->
        </div>
        <!-- /.navbar-static-side -->
    </nav>

    <div id="page-wrapper" style="min-height: 678px;">
        <div class="graphs" style="min-height: 1000px">

            <!--学生列表-->
            <div class="bs-example4" data-example-id="contextual-table">
                <h1 class="form-heading">学生列表</h1>
                <div style="float: right;margin-top: -40px">
                    <div class="radio-inline"><label><input name="sex" type="radio">男</input></label></div>
                    <div class="radio-inline"><label><input name="sex" type="radio" checked="">女</input></label></div>
                    <div class="radio-inline"><label><input name="sex" type="radio">不限</input></label></div>
                </div>
                <hr></hr>
                <table class="table">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Sex</th>
                        <th><input id="all-check" type="checkbox" class="checkbox"></input></th>
                    </tr>
                    </thead>
                    <tbody id="students">
                    <tr th:each="student:${students}">
                        <td class="sno" th:text="${student.sno}"></td>
                        <td class="sname" th:text="${student.sname}"></td>
                        <td class="ssex" th:text="${student.ssex}"></td>
                        <td><input type="checkbox" class="checkbox stu-ch-box"></input></td>
                    </tr>
                    </tbody>
                    <!--<tbody>-->
                    <!--<tr>-->
                    <!--<th scope="row">2</th>-->
                    <!--<td>Column content</td>-->
                    <!--<td>Column content</td>-->
                    <!--<td><input type="checkbox" class="checkbox"></td>-->
                    <!--</tr>-->
                    <!--<tr class="success">-->
                    <!--<th scope="row">3</th>-->
                    <!--<td>Column content</td>-->
                    <!--<td>Column content</td>-->
                    <!--<td><input type="checkbox" class="checkbox"></td>-->
                    <!--</tr>-->
                    <!--<tr>-->
                    <!--<th scope="row">4</th>-->
                    <!--<td>Column content</td>-->
                    <!--<td>Column content</td>-->
                    <!--<td><input type="checkbox" class="checkbox"></td>-->
                    <!--</tr>-->
                    <!--<tr class="info">-->
                    <!--<th scope="row">5</th>-->
                    <!--<td>Column content</td>-->
                    <!--<td>Column content</td>-->
                    <!--<td><input type="checkbox" class="checkbox"></td>-->
                    <!--</tr>-->
                    <!--<tr>-->
                    <!--<th scope="row">6</th>-->
                    <!--<td>Column content</td>-->
                    <!--<td>Column content</td>-->
                    <!--<td>Column content</td>-->
                    <!--</tr>-->
                    <!--<tr class="warning">-->
                    <!--<th scope="row">7</th>-->
                    <!--<td>Column content</td>-->
                    <!--<td>Column content</td>-->
                    <!--<td>Column content</td>-->
                    <!--</tr>-->
                    <!--<tr>-->
                    <!--<th scope="row">8</th>-->
                    <!--<td>Column content</td>-->
                    <!--<td>Column content</td>-->
                    <!--<td>Column content</td>-->
                    <!--</tr>-->
                    <!--<tr class="danger">-->
                    <!--<th scope="row">9</th>-->
                    <!--<td>Column content</td>-->
                    <!--<td>Column content</td>-->
                    <!--<td>Column content</td>-->
                    <!--</tr>-->
                    <!--</tbody>-->
                </table>
            </div>
            <!--网站列表-->
            <div class="panel panel-warning" data-widget-static="">
                <div class="panel-body no-padding">
                    <h1 class="form-heading">网站列表</h1>
                    <hr/>
                    <table class="table table-striped">
                        <thead>
                        <tr class="warning">
                            <th>URL</th>
                            <th>Name</th>
                            <th><input id="all-check2" type="checkbox" class="checkbox"/></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr id="websites" th:each="website:${websites}">
                            <td class="url" th:text="${website.url}"></td>
                            <td class="wname" th:text="${website.wname}"></td>
                            <td><input type="checkbox" class="checkbox web-ch-box"/></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <!--时间选择-->
            <div class="Compose-Message">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        选择起始日期和终止日期
                    </div>
                    <div class="panel-body">
                        <div class="alert alert-info">
                            最终数据将取决于您规定的（学生／网站／日期）
                        </div>
                        <hr/>
                        <div class="form-group has-success">
                            <label class="control-label">StartDate</label>
                            <input id="start-time" type="datetime-local" class="form-control1" required=""/>
                        </div>
                        <div class="form-group has-error">
                            <label class="control-label normal">EndDate</label>
                            <input id="end-time" type="datetime-local" class="form-control1" required=""/>
                        </div>
                    </div>
                </div>
            </div>
            <button class="btn-success btn" value="" onclick="sub()">SUBMIT</button>
        </div>
    </div>
    <!-- /#page-wrapper -->
</div>
<!-- /#wrapper -->

<!-- Bootstrap Core JavaScript -->

<div class="jqvmap-label" style="display: none;"></div>

<script>
    $(document).ready(function () {
        budleAllCheck();
        budleAllCheck2();
    });
    function sub() {
        var snoList = getSnoList();
        var urlList = getUrlList();
        var temp = {stuList: snoList, webList: urlList};
        var post_data = JSON.stringify(temp)
        console.log(temp);
        $.ajax({
            url: "/random",
            type: 'post',
            contentType: "application/json; charset=utf-8",
            data: post_data,
            async: false,
            success: function () {
                alert("成功");
            }
        })
    }

    function budleAllCheck() {
        $("#all-check").on('change', function () {
            $(".stu-ch-box").unbind();
            if ($(this).is(":checked"))
                $(".stu-ch-box").prop("checked", true);
            else
                $(".stu-ch-box").prop("checked",false);
        })
    }

    function budleAllCheck2() {
        $("#all-check2").on('change', function () {
            $(".web-ch-box").unbind();
            if ($(this).is(":checked"))
                $(".web-ch-box").prop("checked", true);
            else
                $(".web-ch-box").prop("checked",false);
        })
    }

    function getSnoList() {
        var stuList = $(".sno");
        var stuNo = [];
        stuList.each(function () {
            var checked = ($(this).siblings('td').find(".stu-ch-box").is(":checked"));
            console.log(checked);
            if (checked) {
                stuNo.push($(this).text());
            }
        });
        stuList = $(stuList).toArray();
        return stuNo;
    }

    function getUrlList() {
        var stuList = $(".url");
        var urlList = new Array();
        stuList.each(function () {
            var checked = ($(this).siblings('td').find(".web-ch-box").is(":checked"));
            console.log(checked);
            if (checked) {
                urlList.push($(this).text());
            }
        });
        urlList = $(urlList).toArray();
        return urlList;
    }
</script>
</body>
</html>